Repository Omhet/react-app-template: changes, and which lint-staged commands are due for each by the changed paths.
All: yarn lint:code, prettier --write, yarn lint:style

.lintstagedrc.json:

{
    "*.{js,jsx,ts,tsx}": ["yarn lint:code", "prettier --write"],
    "*.{css,scss}": ["yarn lint:style", "prettier --write"],
    "*.{json,html}": ["prettier --write"]
}

stylelint
  .lintstagedrc.json
  .stylelintrc.json
  package.json
  src/components/App/style.scss
  yarn.lock
Due: prettier --write, yarn lint:style

test lint
  package.json
  tsconfig.json
Due: prettier --write

add sass
  package.json
  src/components/App/index.tsx
  webpack.common.js
  yarn.lock
Due: yarn lint:code, prettier --write

sass modules
  .lintstagedrc.json
  package.json
  src/components/App/index.tsx
  src/components/App/style.scss
  src/components/App/style.scss.d.ts
  webpack.common.js
  yarn.lock
Due: yarn lint:code, prettier --write, yarn lint:style

redux toolkit
  package.json
  src/index.tsx
  src/store/index.ts
  src/store/modules/example.ts
  yarn.lock
Due: yarn lint:code, prettier --write

container
  src/components/App/index.tsx
  src/containers/App.tsx
  src/index.tsx
  src/store/index.ts
Due: yarn lint:code, prettier --write

thunk
  src/components/App/index.tsx
  src/components/App/style.scss
  src/containers/App.tsx
  src/store/index.ts
  src/store/modules/example.ts
Due: yarn lint:code, prettier --write, yarn lint:style

jest
  .lintstagedrc.json
  jest.config.js
  package.json
  src/components/App/index.spec.tsx
  src/setupTests.ts
  yarn.lock
Due: yarn lint:code, prettier --write

ant design
  .lintstagedrc.json
  package.json
  src/components/App/index.tsx
  src/components/App/style.scss
  src/containers/SearchMoviesDropdown.tsx
  src/index.tsx
  webpack.common.js
  yarn.lock
Due: yarn lint:code, prettier --write, yarn lint:style

styles
  src/components/App/index.tsx
  src/components/App/style.scss
  src/containers/SearchMoviesDropdown.tsx
Due: yarn lint:code, prettier --write, yarn lint:style

search movies
  .ENV
  package.json
  src/containers/SearchMoviesDropdown.tsx
  webpack.common.js
  yarn.lock
Due: yarn lint:code, prettier --write

debounce
  package.json
  src/containers/SearchMoviesDropdown.tsx
  yarn.lock
Due: yarn lint:code, prettier --write

axios
  package.json
  src/containers/SearchMoviesDropdown.tsx
  yarn.lock
Due: yarn lint:code, prettier --write

move
  src/api/index.ts
  src/components/App/index.tsx
  src/components/SearchMoviesDropdown/index.tsx
  src/components/SearchMoviesDropdown/style.scss
  src/components/SearchMoviesDropdown/style.scss.d.ts
  src/hooks/index.ts
  webpack.dev.js
Due: yarn lint:code, prettier --write, yarn lint:style

useSearch
  src/components/SearchMoviesDropdown/index.tsx
  src/hooks/index.ts
  webpack.common.js
Due: yarn lint:code, prettier --write

useSearch types
  src/api/index.ts
  src/components/SearchMoviesDropdown/index.tsx
  src/hooks/index.ts
Due: yarn lint:code, prettier --write

alt searchDropdown
  .eslintrc.js
  src/components/App/index.tsx
  src/components/SearchMoviesDropdownAlt/index.tsx
  src/components/SearchMoviesDropdownAlt/style.scss
  src/components/SearchMoviesDropdownAlt/style.scss.d.ts
  src/hooks/index.ts
Due: yarn lint:code, prettier --write, yarn lint:style

better search
  src/components/SearchMoviesDropdown/index.tsx
  src/hooks/index.ts
Due: yarn lint:code, prettier --write

fetch users
  src/api/index.ts
  src/components/SearchMoviesDropdownAlt/index.tsx
Due: yarn lint:code, prettier --write

theme
  package.json
  src/components/App/index.tsx
  src/components/App/style.scss
  src/components/App/style.scss.d.ts
  src/context/theme.ts
  src/global.css
  src/index.tsx
  yarn.lock
Due: yarn lint:code, prettier --write, yarn lint:style

measure webpack
  package.json
  tsconfig.json
  webpack.common.js
  webpack.dev.js
  yarn.lock
Due: yarn lint:code, prettier --write

silent output
  webpack.common.js
  webpack.dev.js
  webpack.prod.js
Due: yarn lint:code, prettier --write

stats:
  webpack.common.js
Due: yarn lint:code, prettier --write
